<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Startup'&'Go</title>
    <link rel="stylesheet" href="CSS/Shared.css" />
</head>
<body>
    <div>
        <b>Cadastro realizado com sucesso! Obrigado pelo interesse</b>
    </div>
</body>
</html>